* {
  padding:0;
  margin:0;
  font-size:62.25%;
  box-sizing: border-box;
}

body {
  display:grid;
  justify-content: center;
  grid-auto-flow: column;
}
header {
 
  display:flex;
  flex-wrap:wrap;
  width:100px;
  height:min-content;
  gap:10px;
  
}

header
#contenedor {
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap:1px;
  width:710px;
  height: 610px;
  border: 3px solid #333;
  background-color: rgb(210,230,250);
}

#tablero {
  display:grid;
  width:700px;
  height:600px;
  grid-template-columns:repeat(7,1fr);
}

.columna {
  display:flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content:center;
  background-color:rgb(250,150,150);
  width:100px;
  height:100%;
}
.columna:hover {
  /* background-color: rgb(250,210,220); */
  background-color:rgb(250,190,150);
}

.espacio {
  pointer-events: none;
  display:flex;
  width:calc(700px / 6);
  /* height:100px; */
  
  justify-content: center;
  align-items: center;
}
.ficha {
  /* pointer-events: none; */
  width:100%;
  height:100%;
  border-radius:50%;
  background-color:rgb(210,230,250);
}

.ficha--A {
  background-color:green;
}

.ficha--B {
  background-color:yellow;
}

.btn {
margin: 0 auto;
width:100px;
height:50px;
font-size:30px;
}

#mensajeria {
  display: inline-block;
  height:50px;
  width:max-content;
  margin:0;
  font-size:40px;
  color: rgb(66, 236, 43);
}

#modal-ganador {
  display:none;
  position:absolute;

  top:200px;
  left:200px;
  width:500px;
  height:200px;
  border-radius:10px;
  border:3px solid #333;
  background-color: cornsilk;
 
}

.mostrar {
  display:flex;
  justify-content: center;
  align-items: center;
}
#modal-ganador__msj {
  color:blueviolet;
  font-size:40px;
}