* {
  padding:0;
  margin:0;
  font-size:62.25%;
  /* box-sizing: border-box; */
}

body {
  display:grid;
  justify-content: center;
  align-content:center;
  align-items: center;
  grid-auto-flow: column;
  background: url("/img/fondo-acuarela.jpg");
  
}
header {
  display:flex;
  flex-wrap:wrap;
  width:100px;
  height:min-content;
  gap:10px;
  
}

header
#contenedor {
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap:1px;
  width:710px;
  height: 610px;
  border: 3px solid #333;
  background-color: rgb(210,230,250);
}

#tablero {
  display:grid;
  justify-content:center;
  width:700px;
  height:600px;
  grid-template-columns:repeat(7,1fr);
  background: rgb(254,187,187); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgb(254,187,187) 0%, rgb(254,144,144) 20%, rgb(255,92,92) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgb(254,187,187) 0%,rgb(254,144,144) 20%,rgb(255,92,92) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgb(254,187,187) 0%,rgb(254,144,144) 20%,rgb(255,92,92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border:8px solid rgb(255,92,92);
}

.columna {
  display:flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:5px;
  /* background-color:rgb(250,150,150); */
  width:100px;
  height:100%;
}
.columna:hover {
  /* background-color: rgb(250,210,220); */
  background-color:rgb(250,190,150);
}

.ficha {
  /* pointer-events: none; */
  height:90px;
  width:90px;
  border-radius:50%;
  background-color:rgb(2, 175, 112);
}

.ficha--A {
  background: rgb(183,222,237); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgb(183,222,237) 0%, rgb(113,206,239) 50%, rgb(33,180,226) 51%, rgb(183,222,237) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgb(183,222,237) 0%,rgb(113,206,239) 50%,rgb(33,180,226) 51%,rgb(183,222,237) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgb(183,222,237) 0%,rgb(113,206,239) 50%,rgb(33,180,226) 51%,rgb(183,222,237) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.ficha--B {
  background: rgb(254,204,177); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgb(254,204,177) 0%, rgb(241,116,50) 50%, rgb(234,85,7) 51%, rgb(251,149,94) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgb(254,204,177) 0%,rgb(241,116,50) 50%,rgb(234,85,7) 51%,rgb(251,149,94) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgb(254,204,177) 0%,rgb(241,116,50) 50%,rgb(234,85,7) 51%,rgb(251,149,94) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn {
margin: 0 auto;
width:100px;
height:50px;
font-size:30px;
}

#mensajeria {
  display: inline-block;
  height:50px;
  width:max-content;
  margin:0;
  font-size:40px;
  color: rgb(66, 236, 43);
}

.modal-ganador {
  display:none;
  position:absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width:500px;
  height:200px;
  border-radius:10px;
  border:3px solid #333;
  background-color: cornsilk;
 
}

.mostrar {
  display:grid;
  justify-items: center;
  align-items: center;
}
.ocultar {
  display:none;
}

.modal-ganador__msj {
  color:blueviolet;
  font-size:40px;
}

.modal-ganador__btn {
  width:80px;
  height:40px;
  font-size:25px;
}
